$color-grey-lightest:       #fafafa;
$color-grey-lighter:        #eeeeee;
$color-grey-light:          #dfdfdf;
$color-grey:                #bbbbbb;
$color-black:               #333333;

$font-monospace:            "Iosevka Term";
